.intro__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    max-width: 690px;
    margin: 0 0 34px;   
}
@media (min-width: 768px) and (max-width: 1024px) {
    .intro__text {
        max-width: 100%; 
    }
}
