.lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    max-width: 600px;
    margin: 32px auto 64px;
    text-align: center;
}
@media (min-width: 426px) and (max-width: 768px) {
    .lead__subtitle {
        font-size: 4vw;
        line-height: 4.7vw;
        font-weight: 400;
        text-align: center;
        margin: 32px auto 56px;
    }
}
@media (min-width: 320px) and (max-width: 425px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 5vw;
        line-height: 6vw;
        margin: 16px auto 40px;
    }    
}