.cover__content-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 560px;
    align-self: center;
    z-index: 1;
    margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 425px) {
    .cover__content-overlay {
        max-width: 288px;
    }   
}
