.place {
    max-width: 984px;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
    gap:40px 40px;
}
.place:nth-child(5) {
    margin: 0 auto;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .place {
        margin: 0 48px 92px;
        gap:48px 32px;
        grid-template-columns: 1fr 1fr;
    }
    .place:nth-child(5) {
        margin: 0 48px 0;
    }
}
@media (min-width: 426px) and (max-width: 768px) {
    .place {
        margin: 0 24px 73px;
        gap:48px 28px;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    }
    .place:nth-child(5) {
        margin: 0 24px 0;
    }
}
@media (min-width: 320px) and (max-width: 425px) {
    .place {
        margin:50px auto 0 auto;
        gap:32px;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    }
    .place:nth-child(5) {
        margin:50px 0 0 0;
    }
}